.container h1 {
  color: #dab475;
}
.trash-gold {
  color: #dab475;
}
.link-add {
  color: #dab475;
  text-decoration: underline;
}
.link-add:hover {
  color: #ffffff;
  text-decoration: underline;
}
.link-back {
  color: #dab475;
  text-decoration: underline;
}
.link-back:hover {
  color: #ffffff;
  text-decoration: underline;
}
.link-delete {
  color: #dab475;
  text-decoration: underline;
}
.link-:hover {
  color: #ffffff;
  text-decoration: underline;
}
